[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-phone-white{
	background: url(../img/icons/phone-white.png);
	width: 9px;
	height: 9px;
}

.icon-location-white{
	background: url(../img/icons/location-white.png);
	width: 7px;
	height: 11px;
}

.icon-clock-white{
	background: url(../img/icons/clock-white.png);
	width: 9px;
	height: 9px;
}