@font-face{
	font-family: 'Noto Sans Arabic UI'; 
	src: url('../fonts/NotoSansArabicUI-Regular.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'Noto Sans Arabic UI'; 
	src: url('../fonts/NotoSansArabicUI-Bold.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}