*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	position: relative;
	background: $body-bg;
	background-attachment: fixed;

	&.how-we-work-page{
		background-attachment: scroll;
		background-size: 100% 100vh;
		background-position: center top;
	}

	&.overflow{
		overflow: hidden;
	}

	&.modal-visible{
		overflow: hidden;
		height: 100vh;
	}

	img{
		max-width: unset;
	}
}

ul, ol{
	list-style: none;
}

button{
	background: transparent;
	border: 0;
	cursor: pointer;
	appearance: none;
	font-family: inherit;
	box-shadow: none;
	border-radius: 0;
	// outline: none !important;
}

a, button{
	text-decoration: none;
	transition: all $t;
	// outline: none !important;
	border: none;
}

a img{
	// outline: none !important;
	// border: none !important;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

picture, iframe, figure{
	display: block;
}

.wrapper{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 8.3333vw;

	.home &,
	.contacts-page &,
	.how-we-work-page &{
		padding-top: 0;
	}

	@media screen and (max-width: 991px){
		padding-top: 80px;
	}

	// @media screen and (max-width: 767px){
	// 	padding-top: 60px;
	// }

	.page-content{
		flex: auto;
		position: relative;
		z-index: 5;
	}

	.footer{
		flex: none;
	}
}

.container{
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;

	@media screen and (min-width: 576px){
		max-width: 565px;
	}

	@media screen and (min-width: 768px){
		max-width: 750px;
	}

	@media screen and (min-width: 992px){
		padding: 0 15px;
		max-width: 90.9722vw;
	}
}

// .cards-list{
// 	display: grid;
// 	grid-gap: 30px;

// 	@media screen and (max-width: 1199px){
// 		grid-gap: 15px;
// 	}

// 	@for $i from 2 through 6 {
// 		&.columns-#{$i} {
// 			grid-template-columns: repeat(#{$i}, 1fr);
// 		}
// 	}

// 	@media screen and (max-width: 1319px){
// 		@for $i from 1 through 4 {
// 			&.lg-columns-#{$i} {
// 				grid-template-columns: repeat(#{$i}, 1fr);
// 			}
// 		}
// 	}

// 	@media screen and (max-width: 991px){
// 		@for $i from 1 through 4 {
// 			&.md-columns-#{$i} {
// 				grid-template-columns: repeat(#{$i}, 1fr);
// 			}
// 		}
// 	}

// 	@media screen and (max-width: 767px){
// 		@for $i from 1 through 3 {
// 			&.sm-columns-#{$i} {
// 				grid-template-columns: repeat(#{$i}, 1fr);
// 			}
// 		}
// 	}

// 	@media screen and (max-width: 575px){
// 		@for $i from 1 through 3 {
// 			&.xs-columns-#{$i} {
// 				grid-template-columns: repeat(#{$i}, 1fr);
// 			}
// 		}
// 	}
// }

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}