.menu-opener{
	display: flex;
	flex-direction: column;
	width: 26px;
	// height: 23px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	appearance: none;
	background: transparent;
	position: relative;

	&:before{
		content: '';
		display: block;
		width: calc(100% + 10px * 2);
		height: calc(100% + 10px * 2);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.bar{
		background: rgba(#fff, .5);
		height: 2px;
		display: block;
		margin-bottom: 2px;
		transition: all $t;
		width: 20px;

		&:last-child{
			margin-bottom: 0;
			display: none;
		}

		&:nth-child(2){
			position: relative;
			margin-bottom: 0;

			&:before{
				transition: transform $t, opacity $t;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background: inherit;
				position: absolute;
				left: 0;
				top: 0;
				transform-origin: center center;
				border-radius: inherit;
				opacity: 0;
			}
		}
	}

	&:hover,
	&:focus{
		.bar{
			background: $primary;
		}
	}

	&.active{
		.bar{
			&:last-child,
			&:first-child{
				// width: 0;
				opacity: 0;
			}

			&:first-child{
				transform: translateY(-15px);
			}

			&:last-child{
				transform: translateY(15px);
			}

			&:nth-child(2){
				position: relative;
				transform: rotate(-45deg);

				&:before{
					transform: rotate(90deg);
					opacity: 1;
				}
			}
		}
	}

	&:focus{
		outline: none;
	}
}