.enquiry-page{
	padding: 1vw 0 2vw;

	.section-inner{
		display: grid;
		grid-template-columns: 30.5556vw 1fr;
		grid-gap: 2.7778vw;
	}

	.section-form{
		min-height: calc(100vh - 8.3333vw - 1vw - 2vw);
		display: flex;
		flex-direction: column;

		.form{
			margin-bottom: 2.2222vw;
		}

		.form-controls{
			margin-top: auto;
			position: relative;
		}
	}

	.form-agreement{
		font-size: 0.9722vw;
		line-height: 1.288;
		color: #fff;
	}

	.form-controls{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.form-prevnext{
		display: flex;

		html[dir="ltr"] &{
			.btn:not(:last-child){
				margin-right: 1.111vw;
			}
		}

		html[dir="rtl"] &{
			.btn:not(:last-child){
				margin-left: 1.111vw;
			}
		}
	}

	.form-send{
		display: grid;
		grid-template-columns: 16.6667vw min-content;
		grid-gap: 1.6667vw;
		align-items: center;
	}

	&[data-current-step="1"]{
		.form-send,
		.js-back,
		.form-agreement{
			display: none !important;
		}

		.form-prevnext{
			html[dir="ltr"] &{
				margin-left: auto;
			}

			html[dir="rtl"] &{
				margin-right: auto;
			}
		}
	}

	&[data-current-step="2"]{
		.form-send,
		.form-agreement{
			display: none !important;
		}

		.form-prevnext{
			width: 100%;
			justify-content: space-between;
		}
	}

	&[data-current-step="3"]{
		.js-next{
			display: none;
		}
	}

	@media screen and (max-width: 1199px){
		padding: 40px 0 0;

		.section-inner{
			grid-template-columns: 1fr;
			grid-gap: 40px;
		}

		.section-form{
			min-height: calc(100vh - 80px - 40px - 93px - 40px);

			.form{
				margin-bottom: 20px;
			}
		}

		.form-agreement{
			font-size: 12px;
		}

		.form-send{
			grid-template-columns: 200px min-content;
			grid-gap: 24px;
		}

		.form-controls{
			padding: 20px 0;
			position: relative;

			&:before{
				content: '';
				display: block;
				width: 110vw;
				height: 100%;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 0;
				background: #000;
			}

			.form-prevnext,
			.form-send{
				position: relative;
				z-index: 2;
			}
		}
	}

	@media screen and (max-width: 575px){
		.form-send{
			grid-template-columns: 1fr;
			flex: auto;
			max-width: 220px;
		}

		.form-controls{
			flex-wrap: wrap;

			.js-back{
				padding-left: 0;
				padding-right: 0;

				&:not(:last-child){
					html[dir="ltr"] &{
						margin-right: 24px;
					}

					html[dir="rtl"] &{
						margin-left: 24px;
					}
				}
			}
		}

		.form-agreement{
			position: relative;
			z-index: 3;
			text-align: center;
			font-size: 14px;
			margin-top: 20px;
			width: 100%;
		}
	}
}

.enquiry-form{
	.form-steps{
		position: relative;
		width: 100%;
		overflow: hidden;

		.steps-list{
			width: 300%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			transition: all $t;
			align-items: start;

			[data-current-step="2"] &{
				transform: translateX(-33.333%);

				html[dir="rtl"] &{
					transform: translateX(33.333%);
				}
			}

			[data-current-step="3"] &{
				transform: translateX(-66.667%);

				html[dir="rtl"] &{
					transform: translateX(66.667%);
				}
			}
		}

		.step{
			overflow: hidden;
			padding: 1px;
		}
	}
}